body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  background-color: var(--white-bg-cl);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.letter {
  color: var(--accent-txt-cl);
}

/* Block 1 */
:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --blue-bg-cl: #0d6ee6;
  --btn-txt-cl: #ffffff;
  --icons-txt-cl: #afb1b8;
  --grey-txt-cl: #757575;
  /* bg colors */
  --grey-bg-cl: #f5f4fa;
  --white-bg-cl: #ffffff;
  --black-bg-cl: #2f303a;
  --footer-text-bg-cl: rgba(255, 255, 255, 0.1);
  --portfolio-overlay-color: rgba(33, 150, 243, 0.9);
  /* others */
  --modal-btn-txt-cl: #188ce8;
  --border: 1px solid #eeeeee;
  --border-radius: 4px;
  --padding: 20px 24px;
  --anim-fast: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  border-bottom: var(--border);
}

.header-container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}

.header-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 50px;
  }
}

.header-list__phone {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--grey-txt-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function);
  margin-top: 10px;
}
.header-list__phone:hover, .header-list__phone:focus {
  color: var(--accent-txt-cl);
}
@media screen and (min-width: 768px) {
  .header-list__phone {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-list__phone {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 0px;
  }
}

.header-list__email {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--grey-txt-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function);
}
@media screen and (min-width: 1200px) {
  .header-list__email {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-list__email:hover, .header-list__email:focus {
  color: var(--accent-txt-cl);
}

.header-list__icon {
  fill: currentColor;
}
.header-list__icon--margin {
  margin-right: 10px;
}

.nav {
  display: none;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-txt-cl);
}

.nav__link--current {
  position: relative;
  color: var(--accent-txt-cl);
}

.nav__link--current:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-txt-cl);
}

.nav__link--current:hover:after {
  opacity: 1;
}

.menu__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu__btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu__btn {
    display: none;
  }
}
.menu__overlay .menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu__icon {
  fill: currentColor;
  -webkit-transition: fill var(--accent-txt-cl) var(--transition-timing-function);
  transition: fill var(--accent-txt-cl) var(--transition-timing-function);
}
.menu__icon:active {
  fill: var(--accent-txt-cl);
}

.menu__overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity var(--anim-fast), visibility var(--anim-fast);
  transition: opacity var(--anim-fast), visibility var(--anim-fast);
}
@media screen and (min-width: 768px) {
  .menu__overlay {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu__overlay {
    display: none;
  }
}
.menu__overlay.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.menu__container {
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
}
.menu__overlay.is-open .menu__container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.menu__list:nth-child(2) {
  margin-bottom: auto;
}
.menu__list:last-child {
  margin-top: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}
.menu__link--current {
  color: var(--accent-txt-cl);
}

.menu__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu__socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}
.menu__socials-item:not(:last-child) .menu__socials-link::after {
  content: "";
  display: block;
  width: 1px;
  margin-left: 10px;
  background-color: rgba(33, 33, 33, 0.2);
}

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--black-bg-cl);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 118px 0;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-bi/img@1x_sm.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-bi/img@1x_sm.png);
}
@media screen and (min-width: 768px) {
  .main {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-bi/img@1x_md.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-bi/img@1x_md.png);
  }
}
@media screen and (min-width: 1200px) {
  .main {
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-bi/img@1x_lg.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-bi/img@1x_lg.png);
  }
}

.main__title {
  max-width: 360px;
  font-weight: 900;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-txt-cl);
}
@media screen and (min-width: 1200px) {
  .main__title {
    max-width: 696px;
    font-size: 44px;
  }
}

.main__btn {
  padding: 10px 32px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-txt-cl);
  color: var(--white-bg-cl);
  -webkit-transition: color var(--anim-fast) var(--transition-timing-function), background-color var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function), background-color var(--anim-fast) var(--transition-timing-function);
}
.main__btn--margin {
  margin-top: 30px;
}
.main__btn:hover, .main__btn:focus {
  color: var(--btn-txt-cl);
  background-color: var(--blue-bg-cl);
}

.peculiarities {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .peculiarities {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.peculiarities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .peculiarities__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .peculiarities__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__item {
    max-width: 270px;
  }
}

.peculiarities__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .peculiarities__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__title {
    text-align: left;
  }
}

.peculiarities__column {
  margin-bottom: 35px;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--grey-bg-cl);
}

.peculiarities__text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--grey-txt-cl);
}

.what-we-do {
  display: none;
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    padding-top: 0;
    padding-bottom: 94px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.what-we-do__title {
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
}

.what-we-do__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.what-we-do__item {
  position: relative;
}

.what-we-do__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: var(--white-bg-cl);
}

.our-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--grey-bg-cl);
}
@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .our-team__title {
    font-size: 36px;
  }
}

.our-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .our-team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.our-team__list--margin {
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .our-team__list--margin {
    margin-top: 50px;
  }
}

.our-team__item {
  background-color: var(--white-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  -webkit-transition: color var(--anim-fast) var(--transition-timing-function), -webkit-box-shadow var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function), -webkit-box-shadow var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function), box-shadow var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function), box-shadow var(--anim-fast) var(--transition-timing-function), -webkit-box-shadow var(--anim-fast) var(--transition-timing-function);
}
.our-team__item:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__container {
  padding: 30px 0;
}

.our-team__stuff {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.our-team__professions {
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  line-height: 1.1;
  color: var(--grey-txt-cl);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--icons-txt-cl);
  -webkit-transition: color var(--anim-fast) var(--transition-timing-function), background-color var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function), background-color var(--anim-fast) var(--transition-timing-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-txt-cl);
  color: var(--btn-txt-cl);
}

.socials__icon {
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 90px;
}

.clients-list__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1px;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .clients-list__title {
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
@media screen and (min-width: 1200px) {
  .clients-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.clients-list--margin {
  margin-top: 50px;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 210px;
  min-height: 92px;
  border: 1px solid var(--icons-txt-cl);
  color: var(--icons-txt-cl);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-transition: color var(--anim-fast) var(--transition-timing-function), border-color var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function), border-color var(--anim-fast) var(--transition-timing-function);
}
@media screen and (min-width: 768px) {
  .clients-list__link {
    min-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    min-width: 170px;
  }
}

.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--accent-txt-cl);
  border-color: var(--accent-txt-cl);
}

.clients-list__icon {
  fill: currentColor;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
  background-color: var(--black-bg-cl);
}

.footer,
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .footer,
.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer,
.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__group {
    text-align: left;
  }
}

.address {
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.address--margin {
  margin-top: 20px;
}

.footer__logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    margin-right: 93px;
  }
}

.studio {
  color: var(--white-bg-cl);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-bg-cl);
  -webkit-transition: color var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function);
}

.address__communication {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function);
}

.address__link:hover,
.address__link:focus,
.address__communication:hover,
.address__communication:focus {
  color: var(--accent-txt-cl);
}

.footer__social {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 70px;
  }
}

.footer__slogan {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-bg-cl);
}
@media screen and (min-width: 1200px) {
  .footer__slogan {
    text-align: left;
  }
}

.icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.icons-list__link {
  background-color: var(--footer-text-bg-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--icons-txt-cl);
  -webkit-transition: background-color var(--anim-fast) var(--transition-timing-function);
  transition: background-color var(--anim-fast) var(--transition-timing-function);
}

.icons-list__link:hover,
.icons-list__link:focus {
  background-color: var(--accent-txt-cl);
}

.icons-list__icon {
  fill: var(--white-bg-cl);
}

.subscribe-form {
  margin-left: auto;
  margin-left: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .subscribe-form {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    margin-left: auto;
    margin-top: 0px;
    text-align: left;
  }
}

.subscribe-form__group {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-form__group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.subscribe-form__text {
  text-transform: uppercase;
  color: var(--white-bg-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.subscribe-form__input {
  color: var(--white-bg-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  min-width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  background-color: var(--black-bg-cl);
  padding-left: 16px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    min-width: 358px;
  }
}

.subscribe-form__button {
  margin-top: 30px;
  cursor: pointer;
  margin-left: 10px;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--white-bg-cl);
  background-color: var(--accent-txt-cl);
  border: none;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .subscribe-form__button {
    margin-top: 0px;
  }
}
.subscribe-form__button--icon {
  margin-left: 10px;
  fill: var(--white-bg-cl);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
  }
}

.portfolio__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 22px;
  border: none;
  background-color: var(--grey-bg-cl);
  border-radius: var(--border-radius);
  font-family: var(--main-font);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  -webkit-transition: color var(--anim-fast) var(--transition-timing-function), background-color var(--anim-fast) var(--transition-timing-function), -webkit-box-shadow var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function), background-color var(--anim-fast) var(--transition-timing-function), -webkit-box-shadow var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function), background-color var(--anim-fast) var(--transition-timing-function), box-shadow var(--anim-fast) var(--transition-timing-function);
  transition: color var(--anim-fast) var(--transition-timing-function), background-color var(--anim-fast) var(--transition-timing-function), box-shadow var(--anim-fast) var(--transition-timing-function), -webkit-box-shadow var(--anim-fast) var(--transition-timing-function);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--accent-txt-cl);
  color: var(--white-bg-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__another-btn {
  color: var(--white-bg-cl);
  background-color: var(--accent-txt-cl);
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.portfolio__border {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: var(--padding);
  border: var(--border);
  border-top: none;
}
@media screen and (min-width: 768px) {
  .portfolio__border {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__border {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.portfolio__title {
  max-width: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 768px) {
  .portfolio__title {
    max-width: 304px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__title {
    max-width: none;
  }
}

.portfolio__description {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--grey-txt-cl);
}

.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow var(--anim-fast) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--anim-fast) var(--transition-timing-function);
  transition: box-shadow var(--anim-fast) var(--transition-timing-function);
  transition: box-shadow var(--anim-fast) var(--transition-timing-function), -webkit-box-shadow var(--anim-fast) var(--transition-timing-function);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 0px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 0px 1px rgba(0, 0, 0, 0.1);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--anim-fast) var(--transition-timing-function);
  transition: -webkit-transform var(--anim-fast) var(--transition-timing-function);
  transition: transform var(--anim-fast) var(--transition-timing-function);
  transition: transform var(--anim-fast) var(--transition-timing-function), -webkit-transform var(--anim-fast) var(--transition-timing-function);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
}
.portfolio__link:focus .portfolio__overlay, .portfolio__link:hover .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__overlay-text {
  color: var(--white-bg-cl);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity var(--anim-fast) var(--transition-timing-function), visibility var(--anim-fast) var(--transition-timing-function);
  transition: opacity var(--anim-fast) var(--transition-timing-function), visibility var(--anim-fast) var(--transition-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 450px;
  height: 609px;
  padding: 40px;
  z-index: 1000;
  background-color: var(--white-bg-cl);
  border-radius: 4px;
  -webkit-transition: fill var(--anim-fast) var(--transition-timing-function);
  transition: fill var(--anim-fast) var(--transition-timing-function);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.backdrop__btn--icon {
  -webkit-transition: fill var(--accent-txt-cl) var(--transition-timing-function);
  transition: fill var(--accent-txt-cl) var(--transition-timing-function);
}
.backdrop__btn:hover .backdrop__btn--icon {
  fill: var(--accent-txt-cl);
}

.register-form {
  text-align: center;
}

.register-form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.register-form__group {
  margin-bottom: 20px;
}

.register-form__wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.register-form__wrap:last-child {
  margin-bottom: 0;
}

.register-form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--grey-txt-cl);
}

.register-form__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: outline var(--anim-fast) var(--transition-timing-function);
  transition: outline var(--anim-fast) var(--transition-timing-function);
  padding: 10px;
  padding-left: 40px;
  outline: none;
  border-radius: 4px;
}
.register-form__input:focus {
  border: none;
  outline: 1px solid var(--accent-txt-cl);
}
.register-form__input:focus + .register-form__icon {
  fill: #2196f3;
}

.register-form__message {
  -webkit-transition: outline var(--anim-fast) var(--transition-timing-function);
  transition: outline var(--anim-fast) var(--transition-timing-function);
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 10px;
  padding-left: 16px;
  outline: transparent;
  border-radius: 4px;
  resize: none;
  height: 120px;
}
.register-form__message:focus {
  border: none;
  outline: 1px solid var(--accent-txt-cl);
}

.register-form__icon {
  -webkit-transition: fill var(--anim-fast) var(--transition-timing-function);
  transition: fill var(--anim-fast) var(--transition-timing-function);
  position: absolute;
  bottom: 15px;
  left: 14px;
}

.register-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.register-form__agreement--text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--grey-txt-cl);
  margin-left: 8px;
}
@media screen and (min-width: 1200px) {
  .register-form__agreement--text {
    font-size: 14px;
    margin-left: 8.38px;
    color: var(--grey-txt-cl);
  }
}
.register-form__agreement--link {
  color: var(--accent-txt-cl);
}

.register-form__icons--uncheck {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--grey-txt-cl);
  border-color: #212121;
  border-radius: 4px;
}
.register-checkbox:checked + .register-form__icons .register-form__icons--uncheck {
  opacity: 0;
  -webkit-transition: opacity var(--anim-fast) var(--transition-timing-function);
  transition: opacity var(--anim-fast) var(--transition-timing-function);
}

.register-form__icons--check {
  opacity: 0;
  fill: var(--accent-txt-cl);
  -webkit-transition: opacity var(--anim-fast) var(--transition-timing-function);
  transition: opacity var(--anim-fast) var(--transition-timing-function);
}
.register-checkbox:checked + .register-form__icons .register-form__icons--check {
  opacity: 1;
}

.register-form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 55px;
  color: var(--white-bg-cl);
  background-color: var(--modal-btn-txt-cl);
  -webkit-transition: -webkit-box-shadow var(--anim-fast) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--anim-fast) var(--transition-timing-function);
  transition: box-shadow var(--anim-fast) var(--transition-timing-function);
  transition: box-shadow var(--anim-fast) var(--transition-timing-function), -webkit-box-shadow var(--anim-fast) var(--transition-timing-function);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.register-form__button:hover, .register-form__button:focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */