.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--icons-txt-cl);
  transition: color var(--anim-fast) var(--transition-timing-function),
    background-color var(--anim-fast) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-txt-cl);
    color: var(--btn-txt-cl);
  }
}

.socials__icon {
  fill: currentColor;
}
