.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--black-bg-cl);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 118px 0;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-bi/img@1x_sm.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-bi/img@2x_sm.png);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-bi/img@1x_md.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header-bi/img@2x_md.png);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-bi/img@1x_lg.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/header-bi/img@2x_lg.png);
    }
  }
}

.main__title {
  max-width: 360px;
  font-weight: 900;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-txt-cl);

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
  }
}

.main__btn {
  padding: 10px 32px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-txt-cl);
  color: var(--white-bg-cl);
  transition: color var(--anim-fast) var(--transition-timing-function),
    background-color var(--anim-fast) var(--transition-timing-function);

  &--margin {
    margin-top: 30px;
  }

  &:hover,
  &:focus {
    color: var(--btn-txt-cl);
    background-color: var(--blue-bg-cl);
  }
}
