.header {
  position: relative;
  border-bottom: var(--border);
}

.header-container {
  height: 80px;
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
  }
}

.header__logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}

.header-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    gap: 50px;
  }
}

.header-list__phone {
  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--grey-txt-cl);
    display: flex;
    align-items: center;
    transition: color var(--anim-fast) var(--transition-timing-function);
    margin-top: 10px;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--grey-txt-cl);
    display: flex;
    align-items: center;
    transition: color var(--anim-fast) var(--transition-timing-function);
    margin-top: 0px;
  }
}

.header-list__email {
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--grey-txt-cl);
    display: flex;
    align-items: center;
    transition: color var(--anim-fast) var(--transition-timing-function);
  }

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--grey-txt-cl);
    display: flex;
    align-items: center;
    transition: color var(--anim-fast) var(--transition-timing-function);
  }

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.header-list__icon {
  fill: currentColor;

  &--margin {
    margin-right: 10px;
  }
}
